.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34c6eb;
    color: white;
    padding: 10px 40px;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    font-family: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 16px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

body {
    margin: 8px 8px 8px 8px;
}

footer {
    text-align: center;
    background-color: #34c6eb;
    color: white;
    padding: 15px;
    margin-top: 40px;
}
footer p {
    margin-top: 16px;
    margin-bottom: 16px;
}